@media (max-width: 992px) {

  [class*="col-md"]:not(:last-child){
      margin-bottom: 15px;
  }

}

.rubric {
	/* font-size: 39px; */
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 300;
	line-height: 1.1;
	color: inherit;
}

.navbar {
	margin-bottom: 0px;
}

body {
	padding-top: 45px;
}

.image-bg {
    max-height: 500px;
    overflow: hidden;       
    -webkit-transition: max-width .5s ease-out;  /* Saf3.2+, Chrome */
    -moz-transition: max-width .5s ease-out;  /* FF4+ */
    -ms-transition: max-width .5s ease-out;  /* IE10? */
    -o-transition: max-width .5s ease-out;  /* Opera 10.5+ */
    transition: max-width .5s ease-out;
}
 
.image-bg img {
    width: 100%;
    -webkit-transition: margin-top .5s ease-out;  /* Saf3.2+, Chrome */
    -moz-transition: margin-top .5s ease-out;  /* FF4+ */
    -ms-transition: margin-top .5s ease-out;  /* IE10? */
    -o-transition: margin-top .5s ease-out;  /* Opera 10.5+ */
    transition: margin-top .5s ease-out;
}

img.img-small {
    width: 200px;
}

img.img-medium {
    width: 400px;
}

img.img-large {
    /* leave as is */
}

blockquote {
    font-size: 15px;
}

.entry-content .row {
    margin-right: 0px;
}