{% extends "base.html" %}
{% block content %}
    <section id="content" class="body">
        {% block heading %}<!-- <h1 class="entry-title">Liste</h1> -->{% endblock heading %}
        <div class="entry-content">
        <p>
            Die folgende Übersicht enthält alle in diesem Bereich veröffentlichten Artikel in chronologischer Reihenfolge. 
        </p>
    {% if articles %}
        {% for article in (articles_page.object_list if articles_page else articles) %}
            <p>
                <span class="categories-timestamp"><time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time></span>
                <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}{% if article.subtitle %} - {{ article.subtitle }}{% endif %}</a>
            </p>
        {% endfor %}
    {% endif %}

    {% include 'includes/pagination.html' %}
            </div>
    </section>
{% endblock content %}