@media (max-width: 992px) {

  [class*="col-md"]:not(:last-child){
      margin-bottom: 15px;
  }

}

.rubric {
	/* font-size: 39px; */
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 300;
	line-height: 1.1;
	color: inherit;
}

.navbar {
	margin-bottom: 0px;
}

body {
	padding-top: 45px;
}

.image-bg {
    max-height: 500px;
    overflow: hidden;       
    -webkit-transition: max-width .5s ease-out;  /* Saf3.2+, Chrome */
    -moz-transition: max-width .5s ease-out;  /* FF4+ */
    -ms-transition: max-width .5s ease-out;  /* IE10? */
    -o-transition: max-width .5s ease-out;  /* Opera 10.5+ */
    transition: max-width .5s ease-out;
}
 
.image-bg img {
    width: 100%;
    -webkit-transition: margin-top .5s ease-out;  /* Saf3.2+, Chrome */
    -moz-transition: margin-top .5s ease-out;  /* FF4+ */
    -ms-transition: margin-top .5s ease-out;  /* IE10? */
    -o-transition: margin-top .5s ease-out;  /* Opera 10.5+ */
    transition: margin-top .5s ease-out;
}

img.img-small {
    width: 200px;
}

img.img-medium {
    width: 400px;
}

img.img-large {
    /* leave as is */
}

img.right {
    margin-left: auto;
}

img.center {
    margin-left: auto;
    margin-right: auto;
}

img.left {
    margin-right: auto;
}

blockquote {
    font-size: 15px;
}

.entry-content .row {
    margin-right: 0px;
}


/* Responsive iFrame */
/* http://themeloom.com/2013/02/tips-embed-google-maps-and-calendars-in-a-responsive-wordpress-theme/ */
/* http://en.forums.wordpress.com/topic/google-calendar-embed-not-displaying-correctly-on-mobile-iphone-5 */

.little-calendar,
.big-calendar {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.little-calendar iframe,
.big-calendar iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.little-calendar {
    width: 280px;
    max-width: 100%;
    overflow: hidden;
}

@media (min-width: 550px) {
    .little-calendar {
        display: none !important;
    }
}

@media only screen and (max-width: 550px) {
    .big-calendar {
        display: none !important;
    }
}