<footer class="post-info">
    {# <span class="label label-default">Datum</span> #}
    <span class="published">
        <p><i class="fa fa-calendar"></i><time datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }}</time></p>
    </span>
    {% if SHOW_ARTICLE_AUTHOR %}
        {% if article.author %}
            {# <span class="label label-default">By</span> #}
            <p><i class="fa fa-user"></i> {{ article.author }}</p>
        {% endif %}
    {% endif %}

    {% if SHOW_ARTICLE_TAGS and article.tags%}
        <p><i class="fa fa-tag"></i> 
    {% for tag in article.tags %}
        <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
        {% if not loop.last %}
        ,
        {% endif %}
    {% endfor %}
    </p>
    {% endif %}

    {% if SHOW_ARTICLE_CATEGORY %}
        <span class="label label-default">Category</span>
        <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
    {% endif %}

    {% if PDF_PROCESSOR %}
        <span class="label label-default">
            <a href="{{ SITEURL }}/pdf/{{ article.slug }}.pdf">PDF</a>
        </span>
    {% endif %}

    {% import 'includes/translations.html' as translations with context %}
    {{ translations.translations_for(article) }}
</footer><!-- /.post-info -->
