{% if False %}
<aside>
    <section>
        <ul class="list-group list-group-flush">

            {% if DISPLAY_RECENT_POSTS_ON_SIDEBAR %}
                {% if RECENT_POST_COUNT is not defined %}
                    {% set RECENT_POST_COUNT = 5 %}
                {% endif %}
                <li class="list-group-item"><h4><i class="fa fa-home fa-lg"></i><span class="icon-label">Recent Posts</span></h4>
                    <ul class="list-group" id="recentposts">
                    {% for article in articles[:RECENT_POST_COUNT] %}
                        <li class="list-group-item">
                            <a href="{{ SITEURL }}/{{ article.url }}">
                                {{ article.title }}
                            </a>
                        </li>
                    {% endfor %}
                    </ul>
                </li>
            {% endif %}

            {% include 'includes/twitter_timeline.html' %}

        </ul>
    </section>

</aside>
{% endif %}
